<div class="user-block">
  <img class="img-circle img-bordered-sm" src="/assets/royalcorp.png" alt="User Image">
  <span class="username">
    <%= comment.user.email %>
  </span>
  <span class="description"><%= comment.created_at.strftime("%d-%m-%Y %I:%M%p") %></span>
</div>
<!-- /.user-block -->
<p>
  <%= comment.body %>
</p>
<p>
</p>
