[class*="sidebar-dark-"] {
  background-color: #2962ff !important;
}

.auto-height-text {
  height: auto !important;
}

.comment-pos {
  position: absolute;
  bottom: 0
}

.trix-content {
  max-height: 200px !important;
  overflow-y: auto;
}