<h1>Editing form category</h1>

<%= render "form", form_category: @form_category %>

<br>

<div>
  <%= link_to "Show this form category", @form_category %> |
  <%= link_to "Back to form categories", form_categories_path %>
</div>
